.main-container{
    display: block;
}

.moviedetails{
    color:white;
    display: flex;
    margin-left:50px;
    margin-top:50px;
}

.moviedetails img{
    border-radius:10px;
    border: 1px solid red;
    margin-right: 30px;
}

.movieITems h2, h4{
    text-align: left;
    font-weight:400;
}

.addButton{
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  background-color: black;
  color: white;
  margin-top: 200px;
}

.addButton:hover{
  color: black;
  background-color: #556875;
  border: 2px solid black;
}


